<div class="c1">
  <form #myform="ngForm">
    <h3 style="padding: 20px;">LOGIN FORM</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">USERNAME:&nbsp;&nbsp;</label>
      <input type="text" name="username" [(ngModel)]="username" required="required" #f1="ngModel" class="w-50">
      <small class="error1" *ngIf="f1.touched && f1.invalid && f1.errors.required"> *Username is required.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">PASSWORD:&nbsp;&nbsp;</label>
      <input type="password" name="password" [(ngModel)]="password" required="required" #f2="ngModel" class="w-50">
      <small class="error2" *ngIf="f2.touched && 
    f2.invalid && f2.errors.required"> *Password is required</small>
    </div>
     
    <button type="submit" class="btn btn-primary" (click)="formSubmit(myform)">Submit</button>
  </form>
</div>
