<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum quos omnis iure molestias quam optio. A atque eum facilis distinctio quisquam ut repudiandae eveniet ipsum unde assumenda. Eaque, in.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, asperiores, facilis debitis aperiam dolor rerum, accusantium blanditiis ducimus perspiciatis pariatur veniam dolores eveniet ut aut est hic temporibus atque quibusdam!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>